# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Visual Studio
.vs/

# Windows
Thumbs.db

# Build artifacts
CMakeLists.txt
CMakePresets.json

# Test caches
app/
data/

# Environment variables
.env